/* navbar section */
nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Poppins", serif;
}

nav p {
  font-size: 20px;
  color: #22302b;
}

nav p span {
  font-weight: 700;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #22302b;
}

nav h6 {
  color: #fff;
  font-size: 16px;
}
.icon-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 242, 224, 0.5);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.count {
  position: absolute;
  background-color: #edbd37;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 10px;
  top: -5px;
  right: -5px;
}

.like-count span {
  font-size: 10px;
}
.menu {
  font-size: 18px;
}
.hamburger {
  display: none;
}

/* media quaries */
@media (max-width: 1024px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: #fff;
    gap: 20px;
    top: 80px;
    width: 100%;
    background-color: #3c6255;
    /* height: 200px; */
    left: -120%;
    transition: 0.2s all;
    z-index: 1;
    padding: 100px;
  }
  nav ul li a {
    color: #fff;
    font-size: 16px;
  }
  nav p {
    font-size: 16px;
  }
  .hamburger {
    color: #3c6255;
    cursor: pointer;
    display: block;
  }
  .active {
    left: 0;
  }

  .icon-container {
    background-color: #3c6255;
  }
  h6 {
    display: none;
  }
}
